<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Flat" value="testing" />
    <add key="Static flat" value="Static evaluation of flat: {key::flat}" />
    <add key="Static date" value="Static evaluation of date: {date::yyyy.MM.dd}" />
    <add key="Dynamic current directory" value="current dir: {CurrentDir::}" />
    <!-- temp is inaccessible with the Config class -->
    <add key="temp" value="SpecialDirectory\{key::flat}\{key::Stamp}" />
    <add key="Dynamic current path" value="{key::dynamic current directory}\{key::temp}" />
    <add key="Stamp" value="{CurrentTime::yyyyMMddHHmmssfff}" />
    <add key="Stamp2" value="{CurrentTime::dd/MM/yyyy HH:mm:ss::-1d}" />
    <add key="Stamp3" value="{CurrentTime::dd/MM/yyyy HH:mm:ss::}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>